* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f6f8;
}

header {
  background-color: #1c0edf;
  color: rgb(0, 0, 0);
  padding: 15px;
  text-align: center;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

section {
  background: gray;
  padding: 15px;
  border-radius: 6px;
  width: 50%;
  border-color: #000000 ;
  border-radius: 10px;
}

.course, .cart-item {
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.course button, .cart-item button {
  float: right;
  padding: 5px 10px;
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item button {
  background-color: #e53935;
}

.filter {
  padding: 15px 20px;
}

.cart-section{
    background-color:gray;
}

.available{
    background-color: gray;
}

#categoryFilter{
    background-color: gray;
}